
@section breadcrum {
    <nav aria-label="breadcrum">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Page 1</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="#">About us</a></li>

        </ol>
    </nav>
}
<h1 class="h1">This is the About Us page of the application</h1>

