@{
    ViewData["Title"] = "Contact Us";
}

@section breadcrum {
    <nav aria-label="breadcrum">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Page 1</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="#">Contact us</a></li>

        </ol>
    </nav>
}
<h1>ContactUS</h1>

