################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bookslib/.vs/bookslib
/bookslib/bookslib/bin/Debug/netcoreapp3.1
/bookslib/bookslib/obj
/bookslib/bookslib/wwwroot
