<footer class="border-top footer text-muted text-center">
    <div class="container">
        copyright &copy; Book Store @DateTime.Now.Year

        <custom-email my-email="Abhinavkumar68@gmail.com"></custom-email>
    </div>
</footer>
